<!DOCTYPE html>
 <html>
 
   <head>
     <title> LOGIN </title>
   </head>
 
   <body>
     <h1>
      STORY TELLING WITH ADS
     </h1>
     <h2>
        Pray thee enter thy name and thy word of pass 
     </h2>

     <form action="/create_account" method= "POST">
        <input type="text" name="username">
        <input type = "password" name = "password">
         <input type="submit" value="Create Account" />
     </form>
   
    <br>

    <form action="/login" method = "POST">
        <input type="text" name="username">
        <input type = "password" name = "password">
        <input type="submit" value="Log In With Existing Account">
     </form>  

   </body>
 
 </html>
