<!DOCTYPE html>
 <html>
 
   <head>
     <title> STORY PAGE </title>
   </head>
 
   <body>
     <h1>
       Project ADS
     </h1>
     <h2>
        There are only three types of people. Scribes, Editors, or Viewers.
     </h2>

     <p>
        Who likes stories?
     </p>
     <form action="/edit">
         <input type="submit" value="Edit" />
     </form>
   
    <br>

    <form action="/create" method = "POST">
        <input type="submit" value="Create">
     </form>  

     <br>
     
     <form action="/view" method = "POST">
        <input type="submit" value="New">
     </form>  

   </body>
 
 </html>
